server:
  port: 9090

spring:
  sql:
    init:
      mode: never

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    #??? ?? ?? .sql ??
    defer-datasource-initialization: true

  datasource:
    url: jdbc:h2:mem:books
    driver-class-name: org.h2.Driver
    username: sa
    password:
  #spring:
  h2:
    console:
      enabled: true
