server:
  port: 9090

spring:
  sql:
    init:
      mode: always
      data-locations: classpath:insert-post.sql

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  datasource:
    url: jdbc:h2:mem:books
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
